<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/navBar') %>
    <div class="container text-center my-5">
        <h1>Your Chemical Request is Processing</h1>
        <a class="btn btn-primary text-decoration-none my-5" href="/">Go to Home</a>
    </div>
<%- include('partials/footer') %>
  </body>
</html>